.admin_dashboard {
    height: 100%;
    width: 100%;
    background-color: #2b2b2b;
    color: white;
    display: flex;
}

.dashboard_heading {
    text-align: center;
    margin: 20px;
}


.navigation_bar {
    height: 100%;
    width: 20%;
    background-color: #2b2b2b;
    border-right: 1px solid #00bfa6;
}


.navigation_bar_item {
    margin: 20px;
    padding: 20px;
    border: 1px solid #00bfa6;
}

.navigation_bar_item>a {
    color: white;
}

.active_navigation_bar_item > a{
    color: #00bfa6;
}


.admin_page_card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #00bfa6;
}



/* mobile screen */
@media only screen and (max-width: 768px) {
    .admin_dashboard {
        height: max-content;
        min-height: 100%;
        flex-direction: column;
        justify-content: space-between;

    }

    .navigation_bar {
        width: 100%;
        height: max-content;
        display: flex;
    }

    .navigation_bar_item {
        margin: 10px;
        padding: 10px;
        border: none;
    }

    .admin_dashboard_content {
        flex: 1;
        overflow-y: scroll;
    }
}