.admin_dashboard {
    height: 100%;
    width: 100%;
    background-color: #2b2b2b;
    color: white;
    display: flex;
    flex-direction: column;
    background-image: url(/bg.jpg);
    background-size: 100% 30%;
    background-repeat: no-repeat;


}




.dashboard_heading {
    font-size: 40px;
    padding: 30px;
    text-align: center;
}


.navigation_bar {
    display: flex;
    align-items: center;
    height: 20%;
    margin-left:  auto;
    margin-right: auto;
    background: hsla(0, 0%, 10%, 0.2);
   
}


.navigation_bar_item {
    padding: 20px;
    
    
}

.navigation_bar_item>a {
    color: white;
    font-weight: bolder;
    font-size: larger;
}

.active_navigation_bar_item>a {
    color: #00bfa6;
}


.admin_page_card {
    padding: 20px;
    border: 1px solid #558680;
    box-shadow: rgba(2, 2, 2, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 5px;
}

.admin_dashboard_content {
    display: flex;
    flex: 0.8;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}


.admin_players_content {
    width: 30%;
    min-width: max-content;
    height: max-content;
    padding: 30px;
    border: 1px solid #558680;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(2, 2, 2, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 5px;
}

.admin_players_content_info {
    max-width: 60vw;
    text-align: center;
}

.admin_player_input_label {
    font-size: larger;
    padding: 10px;
    text-align: center;
}

.admin_player_input {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    outline: none;
    border: 1px solid #18dbc8;
    background-color: transparent;
    color: white;
}

.admin_player_button {
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid #18dbc8;
    background-color: transparent;
    color: white;
}

.progress h3 {
    padding: 20px;
}

.admin_page_card_delete_button {
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid #18dbc8;
    background-color: transparent;
    color: white;
}

.admin_page_card_delete_button_disabled {
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid #18dbc8;
    background-color: transparent;
    color: white;
    opacity: 0.5;
}

/* mobile screen */
@media only screen and (max-width: 768px) {
    .admin_dashboard {
        height: max-content;
        min-height: 100%;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .navigation_bar {
        width: 100%;
        max-width: 100%;
        height: max-content;
        display: flex;
        justify-content: space-around;
    }

    .navigation_bar_item {
        padding: 0px
    }

    .admin_dashboard_content {
        flex: 1;
        overflow-y: scroll;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .admin_page_card {

        width: 80%;
    }
}