.Home {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2b2b2b;
    position: relative;
}
.filter_overlay {
    position: absolute;
    background-color: #00000050;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.sort_overlay {
    position: absolute;
    background-color: #00000050;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.loading_overlay {
    position: absolute;
    background-color: #00000050;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading_overlay > img {
    height: 50px;
    width: 50px;
}

.filter_overlay_top {
    padding: 20px;
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    background-color: #00000050;
}
.sort_overlay_top {
    padding: 20px;
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    background-color: #00000050;
}

.filter_overlay_top > button {
    background-color: #111111;
    border: 5px solid #00bfa6;
    color: #00bfa6;
    border-radius: 50%;
    font-weight: bolder;
    font-size: 40px;
    cursor: pointer;
    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sort_overlay_top > button {
    background-color: #111111;
    border: 5px solid #00bfa6;
    color: #00bfa6;
    border-radius: 50%;
    font-weight: bolder;
    font-size: 40px;
    cursor: pointer;
    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.filter_overlay_main {
    margin: auto;
    flex: 1;
    width: 100%;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sort_overlay_main {
    margin: auto;
    flex: 1;
    width: 100%;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.background {
    height: 30vh;
    background-image: url(/bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.control_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.control_bar>input {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    outline: none;
    border: 1px solid #18dbc8;
    background-color: transparent;
    color: white;
}


.control_bar > select {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    outline: none;
    border: 1px solid #18dbc8;
    background-color: transparent;
    color: white;

    scrollbar-width: none; /*For Firefox*/;
    -ms-overflow-style: none;  /*For Internet Explorer 10+*/;
   
}

/* REMOVE SCROLLBAR FROM SELECT */
.control_bar > select::-webkit-scrollbar {
    display: none;
}

.control_bar > select > option {
    background-color: #2b2b2b;
    color: white;
}   

.grid {
    flex: 1;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    padding: 20px;

    /* remove scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;

}

/* REMOVE SCROLLBAR FROM GRID */
.grid::-webkit-scrollbar {
    display: none;
}

.overlay_bar {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    gap: 20px;
}

.overlay_bar>button {
    background-color: #00bfa6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
}

.card {
    width: 100%;
    background-color: #111111;
    color: white;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #00bfa6;  
    box-shadow: rgba(2, 2, 2, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.player_image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #00bfa6;
}

.player_team_image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid #00bfa6;
    padding: 5px;
}

.player_status_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.market_value_row {
    padding: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.market_value {
    color: #00bfa6;
    font-weight: bolder;
    font-size: larger;
}

.top_row {
    display: flex;
    gap: 20px;
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 1px solid #00bfa630;
    align-items: center;
}
.name {
    max-width: max-content;
    font-weight: bolder;
    font-size: larger;
}

.position {
    color: white;
    height: max-content;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #00bfa6;
    margin-right: auto;
}

.points {
    color: white;
    height: max-content;
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: larger;
    border: 1px solid #00bfa6;
}

.status {
    color: white;
    height: max-content;
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
    border: 1px solid #00bfa6;
}

/* mobile screen */
@media only screen and (max-width: 768px) { 
    .grid {
        grid-template-columns: 1fr;
    }
}