.loading_overlay {
    width: 100%;
    height: 100%;

    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading_overlay>img {
    height: 50px;
    width: 50px;
}

.player_main_container {
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    display: flex;
    background-color: #2b2b2b;
    display: grid;
    grid-template-columns: 1fr 3fr;
}


.player_main_container_left {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}




.player_main_container_right {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;


    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

.player_main_container_right::-webkit-scrollbar {
    display: none;
}

.player_card {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.player_stats_card {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    background-color: #111111;
    color: white;

    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;


}

.player_stats_card::-webkit-scrollbar {
    display: none;
}

.player_price_graph {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.player_price_graph::-webkit-scrollbar {
    display: none;
}

.player_card_image_container {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    border: 1px solid black;
    border-bottom: none;

    position: relative;
}


.player_card_image {
    width: 180px;
    height: max-content;
    border-bottom: 1px solid #00bfa6;
}

.player_card_team_image {
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 25%;
    cursor: pointer;
}


.player_card_info {
    width: 100%;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player_card_info_row {
    width: 50%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #111111;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.player_card_info_row:last-child {
    border-bottom: 1px solid black;
}

.player_card_info_container_left {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.player_card_info_container_right {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player_card_info_name {
    color: white;
    font-weight: bolder;
    font-size: larger;
    text-align: right;
}


.player_card_info_position {
    color: #8f8f8f;
    padding: 10px;
    width: max-content;
    border: 1px solid #00bfa6;
}

.player_card_info_value_title {
    color: #8f8f8f;
    text-align: left;
}

.player_card_info_title {
    color: #8f8f8f;
    text-align: center;


}




.player_card_info_value {
    color: white;
    font-weight: bolder;
    font-size: larger;
    color: #00bfa6;

}

.go_to_home {
    color: white;
    background-color: #111111;
    padding: 20px;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.go_to_home:hover {
    text-decoration: underline;
}

.go_to_home>select {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    outline: none;
    border: 1px solid #18dbc8;
    background-color: transparent;
    color: white;

    scrollbar-width: none;
    /*For Firefox*/
    ;
    -ms-overflow-style: none;
    /*For Internet Explorer 10+*/
    ;

}

/* REMOVE SCROLLBAR FROM SELECT */
.go_to_home>select::-webkit-scrollbar {
    display: none;
}

.go_to_home>select>option {
    background-color: #2b2b2b;
    color: white;
}

/* styles.css or your preferred stylesheet file */

.statsTable {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.header {
    font-weight: bold;
    padding: 5px;
    border: 1px solid #00bfa6;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.data {
    padding: 5px;
    border: 1px solid #00bfa6;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.stat_week {
    padding: 5px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;

}

.stat_week:nth-child(3n) {
    justify-content: end;
    font-weight: bold;
}



/* mobile */
@media only screen and (max-width: 768px) {


    .player_main_container {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        background-color: #111111;
    }

    .player_main_container_left {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
    }

    .player_main_container_right {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
    }

    .player_card {
        margin-top: 30px;
    }


    .player_card_image_container {
        width: 100%;
        border: none;
    }

    .player_card_image {
        border: none;
    }

    .player_card_info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .player_card_info_row {
        width: 100%;
        flex-direction: column;
        padding: 0px;
        border: none;
    }

    .player_card_info_row:last-child {
        border: none;
    }

    .player_card_info_container_right {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px;
    }

    .player_card_info_container_left {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px;
    }

    .player_stats_card {
        height: max-content;
        flex: 1;

    }

    .player_price_graph {
        height: max-content;
        flex: 1;
    }

    .go_to_home {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px;

        font-size: larger;
        font-weight: bolder;
        color: white;
        z-index: 100;
    }

    .go_to_home:hover {
        text-decoration: underline;
    }

    .player_card_team_image {
        width: 50px;
        position: absolute;
        bottom: 0;
        left: calc(25% - 50px);
        cursor: pointer;
    }


    .tab_changer {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #1b1b1b;
        border-bottom: none;
        margin-top: auto;
    }

    .tab_changer_tab {
        width: 50%;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #1b1b1b;
        color: white;
        font-weight: bolder;
        font-size: larger;
        border-top: 1px solid #00bfa6;
    }

    .tab_changer_tab_selected {
        background-color: #00bfa6;
        color: white;
    }



}